/* The article component */
.c-article {

  h1 {
    font-size: $mantle;
    margin-bottom: ($vspacing/2);
    +above(m) {
      width: 80%;
      font-size: $crust;
    }
  }

  h2 {
    font-size: $mantle;
    margin: $vspacing * 1.5 0;
  }


  p {
    font-size: $baseFont * 1.2;
    margin-bottom: $spacing * 1.2;

    &:first-of-type {
      font-weight: bold
    }
  }

  ul {
    margin: $spacing*2;
    font-size: $baseFont * 1.2;
    li {
      list-style: disc;
      margin-bottom: ($vspacing/2);
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: $spacing;

    &.aligncenter {
      margin: $spacing auto;
    }
    &.size-full {
      max-width:100%;
      width: 100%;
    }
  }

  .wp-caption {
    max-width: 100%;
    background-color: lighten($primary-con, 90%);
    margin: ($spacing*2) auto;
    padding: $spacing;
    text-align: center
    img {
      max-width: 90%;
      margin: auto !important; //needed to override inline styles
    }
  }

  .wp-caption-text {
    font-size: $baseFont;
    margin-top: $vmargin;
  }

  > iframe,
  p> iframe {
    margin: ($spacing*2) auto;
    center(100%)
    width: 500px;
    height: 350px;
  }



  &__post-meta {
    display: block
    font-size: $innercore;
    margin-bottom: $spacing*4
  }
}